.navbar {
  width: 100%;
  background: #043E51;
  .navbar__wrapper {    
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__content {
        .navbar__collection {
        width: 100%;
        display: flex;
        gap: 50px;
        .navbar__item {
          list-style: none;
          color: #a1b5bb;
          font-weight: 600;
        }
      }
    }
    .navbar__btn {
      button {
        width: 140px;
        height: 58px;
        border-radius: 25px;
        border: none;
        background: #145e76;
        color: #fff;
        font-size: 19px;
      }
    }
  }
}
